<p>Hello {{name}}</p>
<p>It seems that someone (probably you) has requested the deletion of the account, to do so, enter the following code. In case of error you can ignore this message</p>
<h2>{{code}}</h2>
