@import '~@angular/material/theming';
@import 'src/custom-theme.scss';

.app-container{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
}

.navbar-spacer{
    flex: 1 1 auto;
}

.navbar-button{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px !important;
}

.router-container{
    flex: 1 1 auto;
}
