<div class="app-container">
  <header>
    <h2 class="logo-title" [routerLink]="['']">DeepScheduler</h2>
    <nav>     
        <ul class="nav-links">
          <li>Option 1</li>
          <li>Option 2</li>
          <li>Option 3</li>
        </ul>    
    </nav>
    <div *ngIf="!isUserLoggedIn">
      <button class="ds-button-secondary nav-button" (click)="loginClicked()">Login</button>
      <button class="ds-button-primary nav-button" (click)="registerClicked()">Register</button>
    </div>
    <div class="nav-user-container" *ngIf="isUserLoggedIn" [routerLink]="['me']">
      {{username}}
    </div>
    
  </header>
  
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>
