<div class="login-container">
    <mat-card class="login-card">
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your username</mat-label>
                    <input matInput placeholder="username" required formControlName="username">
                    <mat-error>Error</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput type="password" required formControlName="password">
                    <mat-error>Error</mat-error>
                </mat-form-field>
                <button mat-stroked-button type="submit">Login</button>
            </form>
        </div>
        <div class="image-container">
            <img src="/assets/illustrations/login.svg">
        </div>       
    </mat-card>
</div>
