<div class="login-container">
    <mat-card class="login-card">
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your username</mat-label>
                    <input matInput placeholder="username" required formControlName="username">
                    <mat-error>Error</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput type="password" required formControlName="password">
                    <mat-error>Error</mat-error>
                </mat-form-field>
                <button mat-stroked-button type="submit">Login</button>
            </form>
            <button class="login-google" mat-stroked-button (click)="onLoginGoogle()">
                <mat-icon style="width: 50px; height:30px"
              svgIcon="logoGoogle"></mat-icon>
                Login with google
            </button>
            <button class="login-github" mat-stroked-button (click)="onLoginGithub()">
                <mat-icon style="width: 50px; height:30px"
              svgIcon="logoGithub"></mat-icon>
                Login with github
            </button>
        </div>
        <div class="image-container">
            <img src="/assets/illustrations/login.svg">
        </div>       
    </mat-card>
</div>
