<h3 mat-dialog-title>Change password</h3>
<mat-dialog-content class="mat-typography" align="center">
    <div class="input-local">
        <form [formGroup]="changePasswordForm">
            <mat-form-field appearance="outline">
                <mat-label>Current password</mat-label>
                <input matInput placeholder="password" required formControlName="currentPassword">
                <mat-error>Error</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"> 
                <mat-label>New password</mat-label>
                <input matInput type="password" required formControlName="newPassword">
                <mat-error>Error</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"> 
                <mat-label>Repeat new password</mat-label>
                <input matInput type="password" required formControlName="newPassword2">
                <mat-error>Error</mat-error>
            </mat-form-field>
            <!--<button mat-stroked-button type="submit" (click)="onSubmit()">Login</button>-->
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Got it</button>
</mat-dialog-actions>