.status-completed{
    color: rgb(153, 255, 153);
    border-color: rgb(153, 255, 153) !important;
}

.status-scheduled{
    color: rgb(225, 126, 255);
    border-color: rgb(225, 126, 255) !important;
}

.status-executing{
    color: rgb(128, 204, 255);
    border-color: rgb(128, 204, 255) !important;
}

.status-canceled{
    color: rgb(255, 123, 123);
    border-color: rgb(255, 123, 123) !important;
}