<div class="training-new-container">
    <div class="input-card mat-elevation-z6" #inputImageName>
        <h2 class="input-card-title">Image repository name</h2>
        <form [formGroup]="imageNameForm">
            <mat-form-field class="input-card-image-field" appearence="fill">
                <mat-label>Input</mat-label>
                <input matInput placeholder="Placeholder" formControlName="imageName">
                <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
        </form>
    </div>
    <div class="input-card mat-elevation-z6" #inputWorker>
        <h2 class="input-card-title">Worker</h2>
        <div class="workers-container">
            <div class="worker-nav-button" (click)="workerNavPrev()">
                <img src="/assets/imgs/chevronLeft.png">
            </div>
            <div class="worker-content">
                <p class="worker-content-name">Name: {{workers[selectedWorker].name}}</p>
                <div class="worker-content-prop-container">
                    <p class="worker-content-prop-name">NVIDIA Card</p>
                    <p class="worker-content-prop">{{workers[selectedWorker].gpu_name}}</p>
                </div>
                <div class="worker-content-prop-container">
                    <p class="worker-content-prop-name">Driver version</p>
                    <p class="worker-content-prop">{{workers[selectedWorker].driver_version}}</p>
                </div>
                <div class="worker-content-prop-container">
                    <p class="worker-content-prop-name">Compute capability</p>
                    <p class="worker-content-prop">{{workers[selectedWorker].compute_cap}}</p>
                </div>
            </div>
            <div class="worker-nav-button" (click)="workerNavNext()">
                <img src="/assets/imgs/chevronRight.png">
            </div>
        </div>
    </div>
    <div class="input-card mat-elevation-z6" #inputComputingTime>
        <h2 class="input-card-title">Computing time</h2>
        <div class="timetable-container">
            <mat-table [dataSource]="timetableData">
                <ng-container matColumnDef="time" [sticky]="true">
                    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                    <mat-cell *matCellDef="let element" > {{element.time}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="d0" [sticky]="true">
                    <mat-header-cell *matHeaderCellDef> {{daysColumHeader[0]}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="timetable-status-cell" [ngClass]="getStatusClass(element.d0.status)" (click)="quadrantClicked(element.d0)"></mat-cell>
                </ng-container>
                <ng-container matColumnDef="d1" [sticky]="true">
                    <mat-header-cell *matHeaderCellDef> {{daysColumHeader[1]}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="timetable-status-cell" [ngClass]="getStatusClass(element.d1.status)" (click)="quadrantClicked(element.d1)"></mat-cell>
                </ng-container>
                <ng-container matColumnDef="d2" [sticky]="true">
                    <mat-header-cell *matHeaderCellDef> {{daysColumHeader[2]}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="timetable-status-cell" [ngClass]="getStatusClass(element.d2.status)" (click)="quadrantClicked(element.d2)"></mat-cell>
                </ng-container>
                <ng-container matColumnDef="d3" [sticky]="true">
                    <mat-header-cell *matHeaderCellDef> {{daysColumHeader[3]}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="timetable-status-cell" [ngClass]="getStatusClass(element.d3.status)" (click)="quadrantClicked(element.d3)"></mat-cell>
                </ng-container>
                <ng-container matColumnDef="d4" [sticky]="true">
                    <mat-header-cell *matHeaderCellDef> {{daysColumHeader[4]}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="timetable-status-cell" [ngClass]="getStatusClass(element.d4.status)" (click)="quadrantClicked(element.d4)"></mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <button class="ds-button-primary submit-button" color="primary" (click)="continueClicked()" #continueButton >
        Submit training request
    </button>
</div>
