<div class="main-1">
    <h1>DeepScheduler</h1>
    <p>ML training platform</p>
    <button class="ds-button-primary" [routerLink]="['register']">Get started</button>
</div>
<div class="main-card">
    <div class="main-card-il">
        <img src="/assets/illustrations/trainML.svg"/>
    </div>
    <div class="main-card-separator"></div>
    <div class="main-card-text">
        <h1>Train ML projects</h1>
        <h3>Train you ML projects on specialized hardware.</h3>
        <p>Thanks to the use of NVIDIA cards and CUDA technology you will get higher training speed.</p>
    </div>
</div>
<div class="main-card">
    <div class="main-card-text">
        <h1>Easy to use</h1>
        <h3>Test in your pc, train in our servers</h3>
        <p>Based on docker containers, we will run your training image using server resources.</p>
    </div>
    <div class="main-card-separator"></div>
    <div class="main-card-il">
        <img src="/assets/illustrations/easyUse.svg"/>
    </div>
</div>
<div class="main-card">
    <div class="main-card-il">
        <img src="/assets/illustrations/time.svg"/>
    </div>
    <div class="main-card-separator"></div>
    <div class="main-card-text">
        <h1>Training time</h1>
        <h3>Reserve computing time at the desired time</h3>
        <p>Reserve time at the time that best suits you, the execution will be carried out automatically and we will save your results.</p>
    </div>
</div>
<div class="main-footer">

</div>