
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e0f1f5,
    100 : #b3dbe5,
    200 : #80c4d4,
    300 : #4dacc3,
    400 : #269ab6,
    500 : #0088a9,
    600 : #0080a2,
    700 : #007598,
    800 : #006b8f,
    900 : #00587e,
    A100 : #ace1ff,
    A200 : #79cfff,
    A400 : #46bdff,
    A700 : #2cb4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
//USING A100 in illustrations

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette($md-mcgpalette0);
$accent: mat.define-palette($md-mcgpalette0, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette($md-mcgpalette0);

//Custom colors
$background-light: mat.define-palette($md-mcgpalette0, 100);
$background-dark: mat.define-palette($md-mcgpalette0, 700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$deepscheduler-frontend-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($deepscheduler-frontend-theme);

$color-primary: rgb(0, 136, 169);
$color-primary-hover: rgba(0, 136, 169, 0.8);
$color-background: #24252A;
$color-background-hover: #44464e;
$color-foreground: rgb(233, 233, 233, 1);
$color-foreground-hover: rgb(233, 233, 233, 0.8);
$color-background-general: #38383a;

