/* You can add global styles to this file, and also import other style files */

@import "custom-theme.scss";

html, body { height: 100%; width: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    //background-color: $color-background-general
 }
 
 @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


.ds-button-primary{
    padding: 9px 25px;
    background-color: $color-primary;
    border: 2px $color-primary;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: $color-foreground;
}

.ds-button-primary:hover{
   background-color: $color-primary-hover
}

.ds-button-secondary{
    padding: 9px 25px;
    background-color: $color-background;
    border: 1px solid $color-primary;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: $color-foreground;
}

.ds-button-secondary:hover{
    background-color: $color-background-hover;
}